<strong>Olá, {{deliveryMan}}</strong>
<p>Você possui uma nova entrega disponível:</p>
<p>
  <strong>Produto: </strong> {{product}} <br/>
  <strong>Data/hora: </strong> {{date}} <br/>
  <br/>
  <small>
    Venha coletar o mais breve possível.
  </small>
</p>



